link(rel="stylesheet", href="/styles/components/02_blocks/01_blocks.css")

mixin Sub (bProps)
  div.sub.-Flex.-Shadow
    div.sub__line
    div.sub__title.-Font2 #{bProps.title}
    div.sub__line
//- INITIALIZATION --//>
  +Sub({
    title
  })

mixin card (bProps)
  div.card.-Padd.-Shadow#card
    div.card__options.-Center.-Flex.-Trans2
      +BtnPrimary({
        txt: bProps.btntxt
      })
      +BtnDanger({
        txt: 'comprar ahora'
      })
    div.card__info.-Trans2
      img(src=bProps.img, alt="", loading="lazy")
      div.card__info__info
        p.-Center.-Bold#price= '$' + ' ' + bProps.price
        p.-Center= bProps.name
