extends ../layout

block append helmet
  - actualPage = 'Disponible'
  //- STYLES -------------------------------------------------------- //>
  link(rel="stylesheet", href="/styles/02_avialable/01_avialable.css")

block main
  br
  br

  +Sub({
    title: 'ola'
  })
  div.-content-case2
    div.avialable.-Flex
      for python in pythons
        a(href="", age= python.age)
          +card({
            img: python.imageURL,
            alt: python.name,
            price: python.price,
            name: python.name,
            btntxt: 'ver mas',
          })

  script(src="/js/02_avialable/01_avialable_filter.js")