@import ../_colors

.bann
  min-height: 50vh
  justify-content: center
  align-items: center
  background-color: $col4
  &__img
    width: 25vw
    height: auto
  &__txt
    flex-direction: column

//- RECENTLY-ADDED -------------------------------------------------- */
.recently_added
  flex-wrap: wrap
  justify-content: center
  &__btn
    width: 90%

//- SOCIAL-SECTION -------------------------------------------------- */
.social
  height: 40vh
  align-items: center
  justify-content: space-around
  background-color: $col6
.social_case
  &:hover .social_case__img
    background-color: $col1
  &__img
    width: 8em
    padding: 1em
    border-radius: 50%
    background-color: white
  


//- SLIDER-SECTION -------------------------------------------------- */
// .swiper-container
//   width: 600px;
//   height: 300px;
//   display: flex
// .swiper-scrollbar
//   opacity: 0

// //- MORPHS ------------------------------------------------ */
// .morphs
//   flex-wrap: wrap
//   justify-content: center
//   &__section
//     width: 10em
//     height: 12em
//     margin: 1em 0.5em
//     background-color: red