@import ../_colors

.bann
  min-height: 50vh
  justify-content: center
  align-items: center
  background-color: $col4
  &__img
    width: 25vw
    height: auto
  &__txt
    flex-direction: column

//- RECENTLY-ADDED -------------------------------------------------- */
.recently_added
  flex-wrap: wrap
  justify-content: center
//- SLIDER-SECTION -------------------------------------------------- */
.swiper-container
  width: 600px;
  height: 300px;
  display: flex
.swiper-scrollbar
  opacity: 0