@import ../_colors

.bann
  min-height: 50vh
  justify-content: center
  align-items: center
  background-color: $col4
  &__img
    width: 25vw
    height: auto
  &__txt
    flex-direction: column

//- RECENTLY-ADDED -------------------------------------------------- */
.recently_added
  flex-wrap: wrap
  justify-content: center
  &__btn
    width: 90%
//- SLIDER-SECTION -------------------------------------------------- */
.swiper-container
  width: 600px;
  height: 300px;
  display: flex
.swiper-scrollbar
  opacity: 0

//- MORPHS ------------------------------------------------ */
.morphs
  flex-wrap: wrap
  justify-content: center
  &__section
    width: 10em
    height: 12em
    margin: 1em 0.5em
    background-color: red