//- STYLE-LINK ------------------------------------------------------ //>
link(rel="stylesheet", href="/styles/components/01_partials/01_menu.css", attr)

nav.nav.-Flex.-Shadow
  h1 FB Ball Pythons

  ul.navbar-links.-Flex
    li: a(href='/').-Trans1 INICIO
    li: a(href='/disponible').-Trans1 DISPONIBLE
    li: a(href='/productos').-Trans1 PRODUCTOS
    li: a(href='/mas').-Trans1 MAS
    li: a(href='/contactanos').-Trans1 CONTACTANOS

  a.burger
    i.fas.fa-bars.-Font3

//- script(src='/js/components/01partials/menu.js')