link(rel="stylesheet", href="/styles/components/01_partials/preloader.css", attr)
section#loading.preloader.-Flex
  img.preloader__img(src="/icon/logo/logo.png", alt="")
  br
  br
  div.preloader__txt
    h2.-Font4 CARGANDO ...

  script(src="/js/components/01partials/preloader.js")