//- IMPORT-COLOR-SET -------------------------------------- */
@import ../_colors

//- FILTER-SECTION -------------------------------------------------- */
.filter
  flex-direction: column
  justify-content: center
  background-color: $col9
.filter_category
  margin: 1em 0
  align-items: center
  justify-content: center
  &__select
    margin: 0 2em
  &__btn
    // width: 80%


//- AVIALABLE-SECTION ----------------------------------------------- */
.avialable
  flex-wrap: wrap
  justify-content: center


.active
  background-color: red
.desactive
  display: none